.panel {
  color: goldenrod;
  cursor: pointer;
  padding: 0.5rem;
  width: 100%;
  // border: 1px solid goldenrod;

  .row {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
      width: 1rem;
      height: 1rem;
      filter: brightness(0) invert(1);
    }

    label {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }

  .content {
    padding: 0.5em 1.125em;
    min-height: 6rem;
    display: none;
    overflow: hidden;
    color: white;
    // border: 1px solid white;
    
    ::-webkit-scrollbar {
      width: 0.5em;
    }
  }
  
  .active {
    display: block;
    overflow:auto;
  }
  
  .rotate {
    transform: rotate(90deg);
  }
}

.panel:hover .row {
  background-color: rgba(128, 126, 128, 0.25);
}